language: d

d:
  - dmd
  - ldc

addons:
  apt:
    sources:
      - george-edison55-precise-backports # cmake / doxygen
    packages:
      - cmake
      - cmake-data

before_install:
  - dub fetch doveralls

script: bash -e test.sh

after_success:
  - rm -f .\.-*.lst
  - if [ ${DC} = "dmd" ]; then dub run doveralls; fi
