language: d

d:
  - dmd
  - gdc
  - ldc

before_install:
  - sudo apt-get install cmake
  - dub fetch doveralls

script: bash test.sh

after_success:
  - rm -f .\.-*.lst
  - if [ ${DC} = "dmd" ]; then dub run doveralls; fi
