language: d
sudo: required

d:
  - dmd
  - ldc

addons:
  apt:
    sources:
      - george-edison55-precise-backports # cmake / doxygen
    packages:
      - cmake
      - cmake-data
      - libsfml-dev
      - libfreetype6-dev
      - libgl1-mesa-dev
      - libglew-dev
      - libjpeg8-dev
      - libopenal-dev
      - libpthread-stubs0-dev
      - libsndfile1-dev
      - libx11-dev
      - libxrandr-dev

before_install:
  - dub fetch doveralls

script: bash -e test.sh

after_success:
  - rm -f .\.-*.lst
  - if [ ${DC} = "dmd" ]; then dub run doveralls; fi
